$primary:#3938e5;
$warning:red;
$light-grey:#bab6b6;
$dark-grey:#5a5a5a;
$dark:#040404;
$light-bg:#f6f6f6;
$mainFont:"Rubik", sans-serif;
$light:#FFFFFF;
$font-size:20px;
// $headFont:;
$head-size:40px;
//btn and input
$btn-width:400px;
$btn-padding:15px;
$btn-radius:15px;
$btn-height:50px;
