.Ebtn{
    
 background-color: $primary;
   padding:$btn-padding;
   color:white;
   border:none;
   border-radius:$btn-radius;
   font-size: 20px;
   font-family: $mainFont;
   width:$btn-width;
   height: $btn-height;
   cursor: pointer;
     
}
 






